<style>
  .reload_button {
    height:30px;
    margin:10px;
    background-color: lightgray;
  }
</style>

<div style="padding:10px; border-style:solid; background-color:#fceeee;">
  <span id="golden" ></span>
  <button class="reload_button" onclick="reload()"> 다른 명언 보기 </button>
</div>

<script>
{{ $goldens := readFile "golden.txt" }}
{{ $strs := split $goldens "\n" }}

var goldens = [
{{ range $str := $strs }}
{{ printf "%s" $str }},
{{ end }}
];
function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}
function reload() {
  var idx = getRandomInt(goldens.length);
  var div_golden = document.getElementById('golden');
  div_golden.innerHTML = goldens[idx];
}
reload()

</script>